<% layout("/layouts/boilerplateOwner.ejs") %>

    <main>
        <hr>
        <div class="navbarofadmin">
            <form action="/owner/addlisting" method="get">
                <button class="btn btn-success me-2 mt-3">Add Listing</button>
            </form>
            <form onsubmit="return false;">
            <button class="btn btn-warning me-3 mt-3" onclick="EditBtn()">Edit Listing</button>
            </form>
        </div>
        <div class="serviceTitle">
            <h1 class="mt-3 mb-5">Our All Service</h1>
        </div>
        <div class="Mother">
            <% for (listing of allListings) { %>
                <div class="card card-backbg">
                    <div class="card-body foralignthethisdiv">
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <%= listing.subtitle %>
                        </h6>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>
                        <form action="/owner/listing/<%= listing._id %>" method="get">
                            <button class="btn btn-success">
                                Go !
                            </button>
                        </form>
                        <div id="deletbtn" hidden>
                            <form method="post" action="/listing/<%= listing._id %>?_method=DELETE" >
                                <button class="btn btn-danger mt-2">Delete Listing</button>
                            </form>
                            <form method="get" action="/listing/<%= listing._id %>/edit" >
                                <button class="btn btn-danger mt-2 ms-3">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>


    </main>


    <!-- <div class="mt-5 ms-5 me-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="https://res.cloudinary.com/dbq93byo2/image/upload/v1745850943/sarkari-result-logo_jn4aoi.png" class="card-img-top h-55 w-50 offset-3 mt-4" alt="Sarkari Result Logo">
                        <div class="card-body">
                            <h5 class="card-title text-light">Sarkari Result</h5>
                            <a href="https://www.sarkariresult.com/" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Go to Sarkari Result</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="/css/Other/img-for-main/5.png" class="card-img-top h-55 w-50 offset-3 mt-5 pt-2 pb-1 mb-5" alt="Bhumi Bihar">
                        <div class="card-body">
                            <h5 class="card-title text-light">BIHAR BHUMI</h5>
                            <a href="https://biharbhumi.bihar.gov.in/Biharbhumi/" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Go to Bihar Bhumi</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="/css/Other/img-for-main/2.png" class="card-img-top h-55 w-50 offset-3 mt-4" alt="RTPS">
                        <div class="card-body">
                            <h5 class="card-title text-light">RTPS BIHAR</h5>
                            <a href="https://serviceonline.bihar.gov.in/" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Go to RTPS BIHAR</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="/css/Other/logo/riya-tavels-logo.png" class="card-img-top h-55 w-50 offset-3 mt-4" alt="Riya Travels">
                        <div class="card-body">
                            <h5 class="card-title text-light">Riya Travels</h5>
                            <a href="https://b2b.riya.travel/" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">Go to Riya Travels</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="/css/Other/logo/Maharashtra-Smart-Ration-Card.png" class="card-img-top h-55 w-50 offset-3 mt-4" alt="EPDS">
                        <div class="card-body">
                            <h5 class="card-title text-light">BIHAR RATION ePDS</h5>
                            <a href="https://epds.bihar.gov.in/" class="btn btn-primary mt-3">Go to Bihar Ration</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 ms-5 me-5 bg-dark bg-opacity-10 mb-5 pt-3 text-center">
                        <img src="/css/Other/img-for-main/1.png" class="card-img-top h-55 w-50 offset-3 mt-4" alt="Software Update">
                        <div class="card-body">
                            <h5 class="card-title text-light">Sarkari Result</h5>
                            <a href="" class="btn btn-primary mt-3">Go to Software Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> -->