<% layout("/layouts/boilerplateUser.ejs") %>
<hr>
    <div class="d-flex justify-content-end">
        <form action="">
            <button class="btn btn-warning me-3 mb-0">Go Back</button>
        </form>
    </div>
    <div class="row" id="motherdivalignbyid">
        <div class="mt-3" id="productheading">
            <h1 id="listingtital">
                Product Name : <%= listing.title %>
            </h1>
        </div>
        <div class="card col-6 show-cardss mt-3" id="subimagestyle">
            <img src="<%= listing.image.url %>" class="card-img-top show-img mt-4" alt="listing_image"
                id="productimagesetup">
            <div class="card-body mb-4 mt-2">
                <p class="card-text">Description: <%= listing.description %>
                </p>
                <p class="card-text">Price: ₹ <%= listing.price %> / night</p>
            </div>
        </div>
        <div class="col-8 mb-3">
            <hr>
            <h4>Leave a review</h4>
            <form action="/shopstock/listings/<%= listing._id %>/reviews/user" method="post" novalidate
                class="needs-validation">
                <div class="mt-3 mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                        required></textarea>
                    <div class="valid-feedback">
                    </div>
                    <div class="invalid-feedback">
                        Please Enter a Comment.
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <hr>

            <% if(listing.reviews.length> 0 ) { %>
                <div class="row">
                    <p><b>All Reviews : </b></p>
                    <% for (review of listing.reviews) { %>
                        <div class="card col-5 ms-3 pt-2 pb-2 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@<%= review.author.username %>
                                </h5>
                                <p class="starability-result card-text" data-rating="<%= review.rating %>">
                                </p>
                                <p class="card-text">Reviews: <%= review.comment %>
                                        <% if(currentUser && review.author._id.equals(currentUser._id)) { %>
                                            <form
                                                action="/shopstock/listings/<%= listing._id %>/reviews/user/<%= review._id %>?_method=DELETE"
                                                method="post">
                                                <button class="btn btn-danger mrg-top-2">Delet This</button>
                                            </form>
                                            <% } %>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% } %>

        </div>
    </div>
    </div>