<% layout("/layouts/boilerplateUser.ejs") %>

    <main>
        <hr>
        <div class="usernameinusehome">
            <p>
                Welcome : <%= userdata.name %>
            </p>
        </div>
        <div class="serviceTitle">
            <h1 class="mt-3 mb-3">Our All Service</h1>
        </div>
        <div class="Mother">
            <% for (listing of allListings) { %>
                <div class="card card-backbg">
                    <div class="card-body foralignthethisdiv">
                        <h5 class="card-title">
                            <%= listing.title %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">
                            <%= listing.subtitle %>
                        </h6>
                        <p class="card-text">
                            <%= listing.description %>
                        </p>
                        <form action="/user/listing/<%= listing._id %>" method="get">
                            <button class="btn btn-success">
                                Go !
                            </button>
                        </form>
                    </div>
                </div>
                <% } %>
    </main>